<h2>Dashboard</h2>

<div class="cards">

    <mat-card>

        <mat-card-title>Total Requests</mat-card-title>

        <mat-card-content>

            {{totalRequests}}

        </mat-card-content>

    </mat-card>

    <mat-card>

        <mat-card-title>Pending</mat-card-title>

        <mat-card-content>

            {{pending}}

        </mat-card-content>

    </mat-card>

    <mat-card>

        <mat-card-title>Approved</mat-card-title>

        <mat-card-content>

            {{approved}}

        </mat-card-content>

    </mat-card>

    <mat-card>

        <mat-card-title>Rejected</mat-card-title>

        <mat-card-content>

            {{rejected}}

        </mat-card-content>

    </mat-card>

</div>