.header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:20px;

}

table{

    width:100%;

}

.status{

    padding:6px 12px;

    background:#1976d2;

    color:white;

    border-radius:20px;

    font-size:12px;

}